* {
    box-sizing: border-box;
}

:root {
    --dark_blue: rgb(9, 9, 100);
    --skyblue: lightskyblue;
    --aliceblue: aliceblue;
}

body {
    background-color: var(--aliceblue);
    font-family: Helvetica, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark_blue);
    height: 45px;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

nav ul li {
    display: inline;
    margin: 3px;
    border-bottom-style: solid;
    border-bottom-width: 2.5px;
    border-bottom-color: rgb(230, 230, 42);    
}

nav h1 {
 
    background-color: rgb(230, 230, 42);
    padding-left: 20px;
    padding-right:7px;
}


a {
    color: rgb(230, 230, 42);
    text-decoration: none;
    transition: all 0.7s ease-in-out;
}

nav a:hover {
    box-shadow: inset 0px 0px 50px rgb(230, 230, 42), 0 0 1px orange;
    color: var(--dark_blue);
}

.hero {
    position: relative;
    height: 200px;
    width: 100%;
    margin-bottom: 5px;
    background-image: url("../images/back_ground.JPG");
    background-size: cover;
    background-position: center;
}

.top-right {
    position: absolute;
    bottom:70px;
    right: 50px;
    color:var(--aliceblue);;
    font-size: 60px;
}

.detail_container {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--aliceblue);;
    margin-bottom: 15px;
    
}

.side {
    margin-left: -12px;
    padding-left: 12%;
    text-align: center;
    font-weight: 800;
    border-right: 4px solid var(--dark_blue);
    flex:0 0 25%
}

.details {
    display: flex;
    text-align: left;
    flex:0 0 75%;
    margin-left: 12px;
}

.work_flex_container {
    position: re;
    display: flex;
    background-color: var(--aliceblue);;
    flex-wrap: wrap;
    justify-content: space-between;

    }

.bigbox {
    position:relative;
    background-color: var(--skyblue);
    flex-basis: 100%;
    height: 236px;
    border: solid var(--skyblue);
    transition: all 0.5s ease-in-out;
}

#bigboxid {
    background-image: url("../images/code_optimization.JPG");
    background-repeat: no-repeat;

}


.smallbox {
    position: relative;
    background-color: var(--skyblue);
    width: 49%;
    height: auto;  
    border: 1px solid;
    margin-top: 12px;
    align-items: center;
    border: solid var(--skyblue);
    
}

.smallbox img {
 display: block;
 width: 100%;
 height: 100%;
 
}

.bigbox img {
    display: block;
    width: 100%;
    height:100%;
}


figure {
    position: relative;
    border: 1px solid var(--skyblue);
    padding: 4px;
    margin: auto;
    z-index:0;
    width: 100%;
    height: 100%;
}

figcaption {
    position: absolute;
    color:var(--dark_blue);
    background-color: var(--skyblue);
    text-align: center;
    width: 15%;
    margin-top: -6em;
    z-index: 1;
}

.contact_details ul li {
   display: inline;
   margin: 12px;
   border-bottom-style: solid;
   border-bottom-width: 2.5px;
   border-bottom-color: rgb(230, 230, 42);  
}

.contact_details ul li a { 
    color: var(--dark_blue);
 }
 
 .contact_details ul li a:hover {
    box-shadow: inset 0px 0px 50px rgb(230, 230, 42), 0 0 1px orange;
}


.smallbox:hover, 
.smallbox:hover {
    opacity: 0.3;
}

.bigbox:hover, 
.bigbox:hover {
    opacity: 0.3;
    
}

@media screen and (max-width: 700px) {
    .detail_container {
        width: 100%;
        flex-direction: column;
        
    }
    .side {
        
        text-align: center;
        
    }
    
    .details {
        text-align: center;
        flex-direction: column;
        
    }

   
    
    .smallbox {
        width: 100%;
    }
    
    nav {
        flex-direction: column;
        height: auto;
    }

    nav ul li {
        display: block;
        align-items: center;
        
    }

    .contact_details ul li {
        display: block;
    }

    
    }